bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea
.vs
.idea
*.user
UnityProjects/vapoksbackpacks/vapoksbackpacks/Temp/UnityLockfile
UnityProjects/vapoksbackpacks/vapoksbackpacks/Library/Artifacts
UnityProjects/vapoksbackpacks/vapoksbackpacks/Library/ArtifactDB
UnityProjects/vapoksbackpacks/vapoksbackpacks/Library
UnityProjects/vapoksbackpacks/vapoksbackpacks/Logs
UnityProjects/vapoksbackpacks/vapoksbackpacks/Temp
