<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ILRepack.Lib.MSBuild.Task" version="2.0.18.2" targetFramework="net462" />
  <package id="JotunnLib" version="2.26.1" targetFramework="net48" />
  <package id="Vapok.Valheim.Common" version="2.4.2214" targetFramework="net48" />
  <package id="Vsxmd" version="1.4.5" targetFramework="net472" developmentDependency="true" />
  <package id="YamlDotNet" version="12.3.1" targetFramework="net462" />
</packages>